{% extends 'layout.twig' %}

{% block body %}
  <form action="/login" method="post">
  	<label for="username">Username</label>
  	<input type="text" name="username">
  	<label for="password">Password</label>
  	<input type="password" name="password">
  	<input type="submit">

  </form>
{% endblock %}
