{% extends 'layout.twig' %}

{% block body %}
  <form action="/signup" method="post">
  	<label for="username">Username</label>
  	<input type="text" name="username">
  	<label for="password">Password</label>
  	<input type="text" name="password">
  	<input type="submit" value="Signup">

  </form>
{% endblock %}
